<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fta_domain_model -->
      <package
            uri="http://www.example.org/fta_domain_model"
            class="fta_domain_model.Fta_domain_modelPackage"
            genModel="model/fta_domain_model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated fta_domain_model -->
      <factory
            uri="http://www.example.org/fta_domain_model"
            class="fta_domain_model.provider.Fta_domain_modelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated fta_domain_model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fta_domain_model.presentation.Fta_domain_modelModelWizardID"
            name="%_UI_Fta_domain_modelModelWizard_label"
            class="fta_domain_model.presentation.Fta_domain_modelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Fta_domain_modelModelFile.gif">
         <description>%_UI_Fta_domain_modelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated fta_domain_model -->
      <editor
            id="fta_domain_model.presentation.Fta_domain_modelEditorID"
            name="%_UI_Fta_domain_modelEditor_label"
            icon="icons/full/obj16/Fta_domain_modelModelFile.gif"
            extensions="fta_domain_model"
            class="fta_domain_model.presentation.Fta_domain_modelEditor"
            contributorClass="fta_domain_model.presentation.Fta_domain_modelActionBarContributor">
      </editor>
   </extension>

</plugin>
